@model Tarefas.Web.Models.TarefasViewModel

<form asp-action="Create">
    @Html.LabelFor(Model => Model.Titulo, new {@class = "form-label"})
    @Html.TextBoxFor(Model => Model.Titulo, new {@class = "form-control"})
    @Html.LabelFor(Model => Model.Titulo, new {@class = "form-label"})
    @Html.TextBoxFor(Model => Model.Titulo, new {@class = "form-control"})

    <input type="submit" />
</form>