@model IEnumerable<Tarefas.Web.Models.TarefasViewModel>

    <table>
        <tr>
            <td>
                ID
            </td>
            <td>
                Titulo
            </td>
            <td>
                Descricao
            </td>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.id
                </td>
                 <td>
                    @item.Titulo
                </td>
                <td>
                    @item.Descricao
                </td>
                <td>
                    <a asp-controller="Tarefas" asp-route-id="@item.id">Detalhes</a>
                </td>
            </tr>
        }
    </table>